<div style="position: relative;width: 100%;height: 100%;">
  <form [formGroup]="fgMaintenanceCertification">
    <div style="position: relative;display: flex;flex-direction: column;gap: 20px;width: 70%; margin-left: auto;margin-right: auto;margin-top: 40px;">
      <div>
        <label for="maintenanceCertificationHeader">Cabecera:</label>
        <div style="position: relative;display: flex;flex-direction: row;gap:10px;margin-top: 5px">
          <button id="cabecera-Anno" (click)="addInHeader('[[año]]')">[[año]]</button>
          <button id="cabecera-fecha" (click)="addInHeader('[[fecha]]')">[[fecha]]</button>
          <button id="cabecera-nombre" (click)="addInHeader('[[ingeniero.nombre]]')">[[ingeniero.nombre]]</button>
          <button id="cabecera-dni" (click)="addInHeader('[[ingeniero.dni]]')">[[ingeniero.dni]]</button>
          <button id="cabecera-ing-titulo" (click)="addInHeader('[[ingeniero.titulo]]')">[[ingeniero.titulo]]</button>
          <button id="cabecera-cif" (click)="addInHeader('[[CIF]]')">[[CIF]]</button>
          <button id="cabecera-direccion" (click)="addInHeader('[[direccion]]')">[[direccion]]</button>
          <button id="cabecera-provincia" (click)="addInHeader('[[direccion.provincia]]')">[[direccion.provincia]]</button>
          <button id="cabecera-empresa-nombre" (click)="addInHeader('[[empresa.nombre]]')">[[empresa.nombre]]</button>
        </div>
        <br />

        <textarea id="maintenanceCertificationHeader" style="width: 100%;" formControlName="maintenanceCertificationHeader" rows="4" cols="50">
        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
        </textarea>
      </div>
      <div>
        <label for="maintenanceCertificationFooter">Pie de página:</label>
        <div style="position: relative;display: flex;flex-direction: row;gap:10px;margin-top: 5px">
          <button id="pie-Anno" (click)="addInFooter('[[año]]')">[[año]]</button>
          <button id="pie-fecha" (click)="addInFooter('[[fecha]]')">[[fecha]]</button>
          <button id="pie-nombre" (click)="addInFooter('ingeniero.nombre')">[[ingeniero.nombre]]</button>
          <button id="pie-dni" (click)="addInFooter('[[ingeniero.dni]]')">[[ingeniero.dni]]</button>
          <button id="pie-ing-titulo" (click)="addInFooter('[[ingeniero.titulo]]')">[[ingeniero.titulo]]</button>
          <button id="pie-cif" (click)="addInFooter('[[CIF]]')">[[CIF]]</button>
          <button id="pie-direccion" (click)="addInFooter('[[direccion]]')">[[direccion]]</button>
          <button id="pie-provincia" (click)="addInFooter('[[direccion.provincia]]')">[[direccion.provincia]]</button>
          <button id="pie-empresa-nombre" (click)="addInFooter('[[empresa.nombre]]')">[[empresa.nombre]]</button>
        </div>
        <textarea id="maintenanceCertificationFooter" style="width: 100%;margin-top: 20px;" formControlName="maintenanceCertificationFooter" rows="4" cols="50">
        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
        </textarea>
      </div>
    </div>>
  </form>
</div>

