<div>
  <hr class="linea">
  <mat-card class="card custom-card border-top-card border-top-success rounded-0">
    <!-- <mat-card-header>
      <mat-card-title> {{title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-actions>
      <div style="display: flex;flex-direction: column;width: 100%;">
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div>
              <p style="font-size: .875rem;font-weight: 600 !important;text-align: center;">{{title}}</p>
            </div>

          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-wrap">
          <h5 class="mb-0 fw-semibold">{{valor}}</h5>
          <span style="color: #26BF94;margin-left: .35rem;font-size: .725rem;">{{descripcion}}</span>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
