<app-spinner style="justify-content: center;align-items: center;margin: auto;" *ngIf="loading"></app-spinner>
<div style="text-align: center;font-size: xx-large;color: #2E3192;font-weight: 500;">
  <p>{{'invoice_status' | translate}}</p>
</div>
<app-table-list *ngIf="todoListo" [fg]="fg" [displayedLabels]="displayedLabels" [titleMobileList]="'dispatch-notes'" [dataInput]="dataSource" (addRow)="addItem()" (deleteRow)="delete($event)" (editRow)="edit($event)" (editRowNueva)="editNew($event)" (searchData)="searchData($event)" (cleanSearchData)="cleanSearchData()"></app-table-list>
