<div class="container" style="background-color:#21C38A">
  <div class="simplebar-content" style="padding: 8px 0px 80px;">

    <!-- Start::nav -->
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
        <div class="slide-left d-none" id="slide-left">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
        </div>


        <ul class="main-menu" style="margin-left: 0px; margin-right: 0px;">

            <li class="slide has-sub">

        <a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-street-view side-menu__icon"></i>
            <span class="side-menu__label">Clientes</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 50.4px, 0px); display: none; box-sizing: border-box;">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/cliente" class="side-menu__item ">
                        Gestión de clientes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/sede" class="side-menu__item ">
                        Gestión de sedes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/equipamiento" class="side-menu__item ">
                        Gestión de equipos
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-hard-hat side-menu__icon"></i>
            <span class="side-menu__label">Trabajos</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 92.8px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/calendar#tab-revisiones" class="side-menu__item ">
                        Próximas revisiones
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/calendar#tab-planificacion" class="side-menu__item ">
                        Calendario de planificación
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/calendar#tab-ejecucion" class="side-menu__item ">
                        Calendario de ejecución
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/calendar#tab-last-revisiones" class="side-menu__item ">
                         Últimas revisiones
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/ordentrabajo" class="side-menu__item ">
                        Órdenes de trabajo
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/tareastecnico" class="side-menu__item ">
                        Tareas Técnicos
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-euro side-menu__icon"></i>
            <span class="side-menu__label">Administración</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 135.2px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/presupuesto" class="side-menu__item ">
                        Presupuestos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/albaran" class="side-menu__item ">
                        Albaranes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/factura" class="side-menu__item ">
                        Facturas
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/presupuesto/correctivo" class="side-menu__item ">
                        Presupuestos Correctivos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/abono" class="side-menu__item ">
                        Rectificativas
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/reportes/facturas" class="side-menu__item ">
                        Reportes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/facturagasto" class="side-menu__item ">
                        Facturas de Gastos
                    </a>
                </li>
                                                                                <li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
            <span class="side-menu__label"><b>Gestión proveedores</b></span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/proveedor" class="side-menu__item ">
                        Gestión de Proveedores
                    </a>
                </li>
                                                                                <li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
            <span class="side-menu__label">Facturación</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/proveedor/albaran" class="side-menu__item ">
                        Albaranes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/proveedor/factura" class="side-menu__item ">
                        Facturas
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/proveedor/pedido" class="side-menu__item ">
                        Pedidos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/proveedor/factura/rectificativa" class="side-menu__item ">
                        Rectificativas
                    </a>
                </li>
                                </ul>
</li>
                                </ul>
</li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/albaranentrega" class="side-menu__item ">
                        Albaranes de Entrega
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/pedido" class="side-menu__item ">
                        Pedidos
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-food-menu side-menu__icon"></i>
            <span class="side-menu__label">Documentos</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 177.6px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/certificadomantenimiento" class="side-menu__item ">
                        Certificado de Mantenimiento
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/informerevision" class="side-menu__item ">
                        Informe de Revisión
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/albaranrevision" class="side-menu__item ">
                        Albarán de Revisión
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/certificadoinstalacion" class="side-menu__item ">
                        Certificado de Instalación
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/contrato" class="side-menu__item ">
                        Contratos
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-book-open side-menu__icon"></i>
            <span class="side-menu__label">Operativa</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 220px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/familiaproducto" class="side-menu__item ">
                        Familias
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/producto" class="side-menu__item ">
                        Productos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/servicio" class="side-menu__item ">
                        Servicios
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-cog side-menu__icon"></i>
            <span class="side-menu__label">Configuración</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 262.4px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/empresa" class="side-menu__item ">
                        Empresa
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/user" class="side-menu__item ">
                        Usuarios
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/parterevision" class="side-menu__item ">
                        Tipos Parte de Revisión
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/fabricante" class="side-menu__item ">
                        Fabricantes
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/plantillasdocumento" class="side-menu__item ">
                        Plantillas (Documentos)
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/configuracion" class="side-menu__item ">
                        Parámetros
                    </a>
                </li>
                                </ul>
</li>

<li class="slide has-sub ">

<a href="javascript:void(0);" class="side-menu__item notblockui ">
                <i class="bx bx-box side-menu__icon"></i>
            <span class="side-menu__label">Ajustes Avanzados</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
        </a>

        <ul class="slide-menu child1" data-popper-placement="bottom" style="position: relative; left: 0px; top: 0px; margin: 0px; transform: translate3d(119.2px, 304.8px, 0px);">
                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/banco" class="side-menu__item ">
                        Bancos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadoalbaranentrega" class="side-menu__item ">
                        Estados Albaranes Entrega
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadofactura" class="side-menu__item ">
                        Estados Factura
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadoordentrabajo" class="side-menu__item ">
                        Estados Ordenes de Trabajo
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadopedido" class="side-menu__item ">
                        Estados Pedido
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadoparte" class="side-menu__item ">
                        Estados Parte de Revisión
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/estadotrabajador" class="side-menu__item ">
                        Estados del Trabajador
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/formapago" class="side-menu__item ">
                        Formas de Pago
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/tax" class="side-menu__item ">
                        Impuestos
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/logs" class="side-menu__item ">
                        Logs
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/motivobajaequipamiento" class="side-menu__item ">
                        Motivos Baja de Equipamento
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/poblacion" class="side-menu__item ">
                        Poblaciones
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/tarifapvp" class="side-menu__item ">
                        Tarifas PVP
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/tipocliente" class="side-menu__item ">
                        Tipos de Cliente
                    </a>
                </li>
                                                                                <li class="slide">
                    <a href="https://fernandolopez.cofrai.app/tipocontrato" class="side-menu__item ">
                        Tipos de Contrato
                    </a>
                </li>
                                </ul>
</li>
            <!-- End::slide -->
        </ul>
        <div class="slide-right d-none" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
    </nav>
    <!-- End::nav -->

</div>
</div>
