<app-spinner class="spinnerClass" *ngIf="loading"></app-spinner>
<div [ngStyle]="showinNewTab ? {'margin-top': '80px'} : {}">
  <div class="add-edit-component-title" style="margin-top:20px;">
    <p>{{'menu.pvpRates' | translate}}</p>
  </div>
  <app-formly-base [theme]="'material'" [shoWButtonSaveAndNew]="shoWButtonSaveAndNew" [fields]="fields" [model]="model" [fg]="fg" (submitEvent)="onSubmit($event, false)" (submitEventNew)="onSubmit($event, true)" (cancelEvent)="onCancel()"></app-formly-base>
</div>
