<mat-tab-group>
  <mat-tab label="Empresa">
    <app-enterprise-details [fgDetails]="fgDetails" [modelDetails]="modelDetails"></app-enterprise-details>
  </mat-tab>
  <mat-tab label="Recursos">
    <app-resources></app-resources>
  </mat-tab>
  <mat-tab label="Textos Documentos">
    <app-text-documents [fgTextDocuments]="fgTextDocuments"></app-text-documents>
  </mat-tab>
  <mat-tab label="Certificado instalación">
    <app-install-certification [fgInstallCertification]="fgInstallCertification"></app-install-certification>
  </mat-tab>
  <mat-tab label="Contratos">
    <app-contracts></app-contracts>
  </mat-tab>
  <mat-tab label="Certificado mantenimiento">
    <app-maintenance-certificate></app-maintenance-certificate>
  </mat-tab>
  <mat-tab label="Informe de revisión">
    <app-revision-certificate></app-revision-certificate>
  </mat-tab>
  <mat-tab label="Albarán de revisión">
    <app-delivery-note-revision></app-delivery-note-revision>
  </mat-tab>
</mat-tab-group>
