<app-spinner style="justify-content: center;align-items: center;margin: auto;" *ngIf="loading"></app-spinner>
<div style="text-align: center;font-size: xx-large;color: #1C75BC;font-weight: 500;">
  <p>{{'menu.contracts-types' | translate}}</p>
</div>
<app-table-list *ngIf="todoListo" [displayedLabels]="displayedLabels" [titleMobileList]="'dispatch-notes'" [dataInput]="dataSource" (addRow)="addItem()" (deleteRow)="delete($event)" (editRow)="edit($event)" (editRowNueva)="editNew($event)"></app-table-list>
