<div *ngIf="!isMobile">
  <div class="mat-elevation-z2" style="margin-top: 50px;" [ngStyle]="darkMode ? { 'background-color': 'black', color: 'white'} : {}">
    <div class="searchClass">
      <form [formGroup]="fg">
      <mat-form-field style="margin-left: 20px;width: 50%;height: 70px;" appearance="fill">
        <input matInput placeholder="Filter" formControlName="filter">
      </mat-form-field>
      </form>
    </div>
    <table style="display: inline-table;" mat-table [dataSource]="dataSourceShow" class="full-width-table" matSort aria-label="Elements">
      @for (column of displayedColumns; track column;let index = $index,e = $even) {
        @if (column === 'id') {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"actions" | translate}}</th>
              <td  mat-cell *matCellDef="let row">
                <div *ngIf="isMobile" style="display: flex;flex-direction: row;">
                  <div style="display: flex; font-weight:bold;align-items: center;">{{"actions" | translate}}</div>
                  <app-modal-menu style="margin-left: 6px;" [row]="row" (menuEdit)="editar($event)" (menuEditNueva)="editarNueva($event)" (menuDelete)="eliminar($event)"></app-modal-menu>
                </div>
                <div *ngIf="!isMobile">
                  <app-modal-menu [row]="row" (menuEdit)="editar($event)" (menuEditNueva)="editarNueva($event)" (menuDelete)="eliminar($event)"></app-modal-menu>
                </div>
              </td>
          </ng-container>
        }
        @else {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{column}}
            </th>
            <td [ngClass]="isMobile && e ? 'mat-row-even' : isMobile ? 'mat-row-odd': ''" mat-cell *matCellDef="let row">
              <!-- <div *ngIf="isMobile" style="display: flex;flex-direction: row;">
                <div style="font-weight:bold;">{{column}}:</div>
                <div style="margin-left: 6px;">{{row[column]}}</div>
              </div> -->
              <!-- <div *ngIf="isMobile && (row[column] == true || row[column]== false)">
                <mat-checkbox #checkBox [checked]="getChecked(row[column])"></mat-checkbox>
              </div> -->
              <div *ngIf="!isMobile && (row[column] != true && row[column] != false)">{{row[column]}}
              </div>
              <div *ngIf="!isMobile && (row[column] == true || row[column]== false)">
                <mat-checkbox #checkBox [checked]="getChecked(row[column])"></mat-checkbox>
              </div>
            </td>
          </ng-container>
        }
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataInput.length"
        [showFirstLastButtons]="true"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
  <div style="position: absolute;">
    <app-button-add (newItem)="addItem()"></app-button-add>
  </div>
  <!-- <div style="position:absolute;right: 120px;bottom: 25px;">
    <app-pdf-generator [dataSource]="dataInput" [header]="displayedColumns" class="pdfClass"></app-pdf-generator>
  </div>
  <div style="position:absolute;right: 260px;bottom: 25px;">
    <app-xls-generator [dataSource]="dataInput" [header]="displayedColumns" class="pdfClass"></app-xls-generator>
  </div> -->
</div>

<div *ngIf="isMobile" style="margin-top: 75px;">
  @for (data of dataInput.data; track data;let index = $index,e = $even) {
    <div style="margin-top: 10px;">
      <app-mat-table-mobile [data]="data" [title]="titleMobileList" [subtitle]="'list'" (editarEvent)="editar($event)" (eliminarEvent)="eliminar($event)"></app-mat-table-mobile>
    </div>
  }
  <div style="position: relative;z-index: 99999;">
    <app-button-add (newItem)="addItem()"></app-button-add>
  </div>
  <div style="position: relative;margin-top: 15px;width: 95%; margin-left: auto;margin-right: auto;">
    <app-pdf-generator [dataSource]="dataInput" [header]="displayedColumns" class="pdfClass"></app-pdf-generator>
  </div>
  <div style="position: relative;margin-top: 15px;margin-left: 10px;margin-bottom: 10px;">
    <app-xls-generator [dataSource]="dataInput" [header]="displayedColumns" class="pdfClass"></app-xls-generator>
  </div>
</div>



