<div *ngIf="!isMobile">
  <div class="mat-elevation-z2" style="margin-top: 50px;" [ngStyle]="darkMode ? { 'background-color': 'black', color: 'white'} : {}">
    <table style="display: inline-table;" mat-table [dataSource]="dataSourceShow" class="full-width-table" matSort>
      @for (column of displayedColumns; track column;let index = $index,e = $even) {
        @if (column === 'id') {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"actions" | translate}}</th>
              <td  mat-cell *matCellDef="let row">
                <div *ngIf="isMobile" style="display: flex;flex-direction: row;">
                  <div style="display: flex; font-weight:bold;align-items: center;">{{"actions" | translate}}</div>
                  <app-modal-menu style="margin-left: 6px;" [row]="row" (menuEdit)="edit($event)" (menuEditNueva)="editNew($event)" (menuDelete)="delete($event)"></app-modal-menu>
                </div>
                <div *ngIf="!isMobile">
                  <app-modal-menu [row]="row" (menuEdit)="edit($event)" (menuEditNueva)="editNew($event)" (menuDelete)="delete($event)"></app-modal-menu>
                </div>
              </td>
          </ng-container>
        }
        @else {
          <form [formGroup]="fg">
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{displayedLabels[index]}} -->
                <mat-form-field floatLabel="auto" style="width: 120px;margin-left: 10px;height: 65px;">
                  <mat-label>{{displayedLabels[index]}}</mat-label>
                  <input matInput  placeholder="" [formControlName] = "displayedColumns[index]">
                </mat-form-field>
              </th>
              <td [ngClass]="isMobile && e ? 'mat-row-even' : isMobile ? 'mat-row-odd': ''" mat-cell *matCellDef="let row">
                <div *ngIf="!isMobile && ((row[column] === null ? '' : row[column].toString() != 'true' && row[column] === null ? '' : row[column].toString() != 'false'))">{{row[column]}}
                </div>
                <div *ngIf="!isMobile && ((row[column] === null ? '' : row[column].toString()) == 'true' || (row[column] === null ? '' :row[column].toString()) == 'false')">
                  <mat-checkbox #checkBox [checked]="getChecked(row[column])"></mat-checkbox>
                </div>
              </td>
            </ng-container>
          </form>
        }
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataInput.length"
        [showFirstLastButtons]="true"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
  <div #movible class="movibleClass">
    <button class="rotate-button" style="right: 120px;background-color:#1C75BC;" (click)="addItem()" mat-icon-button matTooltip="Agregar registro">
      <mat-icon>add</mat-icon>
    </button>
    <button style="right: 60px; top:-40px;background-color:#1C75BC;" (click)="search()" mat-icon-button matTooltip="Buscar">
      <mat-icon>search</mat-icon>
    </button>
    <button style="top:-80px;background-color:#1C75BC;color: red;" (click)="cleanSearch()" mat-icon-button matTooltip="Limpiar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isMobile" style="margin-top: 75px;">
  @for (data of dataInput.data; track data;let index = $index,e = $even) {
    <div style="margin-top: 10px;">
      <app-mat-table-mobile [data]="data" [title]="titleMobileList" [subtitle]="'list'" (editEvent)="edit($event)" (deleteEvent)="delete($event)"></app-mat-table-mobile>
    </div>
  }
</div>



