
.visibilityClass {
  color: rgb(135 156 175 / 1);
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.25rem;
  z-index: 999;
}
