<div style="position: relative;margin-top: .25rem;width: 100%;">
  <mat-form-field style="width: 100%;" class="example-full-width">
    <mat-label>{{"password" | translate}}
      <span style="color: red;font-weight: 600;">*</span>
    </mat-label>
    <input matInput style="margin-bottom: 10px;width: 100%;" id="signin-password" [type]="show ? 'text' : 'password'" name="password" [formControlName]="formControl" [formlyAttributes]="field" placeholder='{{"placeholderPassword" | translate}}' autofocus="autofocus">
  </mat-form-field>
  <app-visible-novisible [show]="show" (toggleShowEmitter)="toggleShow()" ></app-visible-novisible>
</div>
