
@import "bootstrap/scss/bootstrap";

.mat-sidenav {
  background-color: mat-color($primary, 500); /* Cambia el color según tu paleta */
}

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import 'material-icons/iconfont/material-icons.css';

@font-face {
  font-family: '11S01 Black Tuesday';
  src: url('../public/assets/fonts/11S0BLT_.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: '11S01 Black Tuesday', sans-serif;
  font-size: 16px;
}

button.disabled {
  cursor: 'not-allowed';
  background-color: '#e0e0e0';
  color: '#9e9e9e';
  opacity: '0.5';
}

.spinnerClass {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.add-edit-component-title {
  text-align: center;font-size: xx-large;color: #1C75BC;font-weight: 500;
}


