.menu {
    height: 100%;
    width: 100%;
    scrollbar-width: thin;
    overflow: auto;
    background-color: #242D35;
    border: 1px solid;
    border-color: white;

}

.menu__group {
    padding: 1rem 1rem 0 1rem;
    height: 40px;
}

.menu__group-items {
  transition: all 1s;
  padding-left: 10px;
}
.menu__group-hidden {
  display: none;
}
.menu__group-title-no-border {
  display: flex;
  padding: 5px;
  border: none;
  :hover {
    cursor: pointer;
  }
}

.menu__group-title {
  display: flex;
  padding: 5px;
  font-size: 1rem;
  :hover {
    cursor: pointer;
  }
}
.menu__group-title--name {
  flex: 1;
  color: white;
}
.menu__group-title----icon {
  padding: 2px 6px;
  :hover {
      cursor: pointer;
  }
}

